<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/nlog.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<target xsi:type="File" name="allfile" fileName="logs/${shortdate}/all.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}| ${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="efCoreFile" fileName="logs/${shortdate}/sql.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}| ${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
		
	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" writeTo="efCoreFile" final="true" />	
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" />
		<logger name="*" minlevel="Info" writeTo="allfile" />
	</rules>
</nlog>